body 
{
    background-color: #000000;
    color: #ffffff;
    font-family: Verdana;
}

h1
{
    color: grey;
    font-family: Verdana;
}

.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center
}



.contents
{
    margin-left: 80px;
}

table td
{
    padding-bottom: 10px;
}


#principal{
    height: 25px;
    width: 190px;
}

#years{
    height: 35px;
    width: 200px;
}

#footer
{
    margin-top: 10px;
}

.labels
{
    width: 120px;
}

.highlight
{
    background-color: #ffff00;
}
footer
{
  color:black;
  position:fixed;
  left:22%;
  bottom:20%;
   Font-size:13px
}

